/* Home.css */
.body{
    background-color: #444;
  }
  .table-container {
      
      margin-top: 20px; 
      max-width: 1200px;
      padding-left: 17%;
      padding-top: 5%;
      align-items: center;/* Adjust the top margin as needed */
    }
    .table-cont{
      background-color: black;
    }
    /* Home.css */
  
  .custom-table {
      background-color: black;
      color: white;
  }
  .container {
    background-color: black;
    color: white;
}

.table-dark th,
.table-dark td {
    color: white;
}

.table-dark th {
    border-color: white;
}

.table-dark td {
    border-color: white;
}

.con {
    background-color: black;
    color: white;
    text-align: center;
}

  
    
    .table {
      border: 2px solid #09ee09; /* Add border to the table */
      border-collapse: collapse; /* Collapse border spacing */
    }
    
    .table th,
    .table td {
      padding: 10px; /* Adjust cell padding */
    }
   /* Home.css or your custom CSS file */
  
  .custom-input {
    color: rgba(196, 185, 184, 0.619);
    background-color: rgba(255, 255, 255, 0.047);
    border-radius: 0;
    border-width: 0;
    border: 1px solid #444;
    box-shadow: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    transition: background-color 0.3s;
    
  }
  .custom-input:focus[type='text']:focus {
    background-color: rgba(231, 215, 212, 0.1);
  }
  
  .custom-input:focus {
    background-color: rgba(208, 13, 120, 0.1); /* Adjust the alpha channel for focus */
  }
  .custom-input:hover {
    border-color: #666;
    color: #66666663;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .conts{
    border: 2px solid #dc9418;
  } 
  
  .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light transparent color */
  }
  .row{
    margin-bottom: 20px;
  }
  