@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  background-image: url('./assets/world_gif.gif'); /* Ensure the path is correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: down;
  flex-direction: column;
  justify-content: space-between; /* To space out the header and footer */
  font-family: Arial, sans-serif;
  color: #fff;
  width: 100%;
  height: auto;
  display: block; /* This ensures the background image stays fixed while scrolling */
}

.con {
  padding: 20px;
  margin-bottom: 20px;
  z-index: 1; /* Ensure the header is above the background image */
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  padding: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  z-index: 1; /* Ensure the content is above the background image */
  margin-top: 60px; /* Adjust this value to position the h1 */
}

h1 {
  color: #09ee09;
  font-weight: bold;
  /* Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
  margin: 0;
}

.footer {
  padding: 500px;
  width: 100%;
  text-align: end;
  /* Ensure the footer is above the background image */
}

.end {
  text-align: center;
}

/* Animated Heading */
.animated-heading {
  font-family: 'Righteous', cursive;
  color: #09ee09;
  font-size: 3em; /* Increase the font size */
  animation: fadeInOut 1s infinite;
}

/* Keyframes for heading animation */
@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(-20px); }
  50% { opacity: 1; transform: translateY(0); }
}
